#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  width: 1260px;
  height: 60px;
  background-color: black;
  color: white;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex: 1;

}

.header #headtxt {
  margin-left: 10px;
  text-align: left;
  
}

.header h3 {
  margin: 0;
  padding: 0;
}

.searchbar {
  width: 300px;
  height: 35px;
  background-color: #1A1B1D;
  color: white;
  margin-left: 650px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

/* Style for the input field */
.searchbar input {
  flex: 1; /* Take up remaining space */
  border: none; /* Remove border */
  background: none; /* Remove background */
  color: white;
  outline: none; /* Remove outline */
}

/* Style for the search icon */
.searchbar i {
  margin-right: 10px; /* Adjust spacing between icon and input field */
}

.notifimg {
  margin-left: 25px;
  padding: 5px;
}

.mainbody{
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 1260px;
  background-color: #1A1B1D;
  padding: 10px;
}

.listicons {
  display: flex;
  flex-direction: column;
  width: 25px;
  background-color: #1A1B1D;
  padding: 10px;
  border-radius: 20px;;
  margin-left: 10px;
  margin-right: 20px;
}

.listicons img {
  padding: 10px;
  width: 25px;
  height: 25px;
  margin-bottom: 15px;
}

.balancewindow {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  background-color: #1A1B1D;
  padding: 10px;
  border-radius: 20px;
  margin-left: 10px;
}

.bwhead {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 50px;
  background-color: #1A1B1D;
  padding: 10px;
  border-radius: 20px;
}


.balancebtns {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 50px;
  background-color: #1A1B1D;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
}

.tranbtn {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 50px;
  background-color: #D9D9D9;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
  color: black;
}

